.navbar {
  font-size: 18px;

  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
}
.fa-shopping-basket {
  color: rgb(11, 11, 11);
}
.nav-link:hover {
  background-color: #e9ecef;
  border-radius: 7px;
}
